<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-lgx2" style="padding-top: 40px;min-height:360px;padding-bottom: 50px;">

        <a href="register" class="btn btn-success">Add User</a>

        <table class="table table-fit mt-5">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
              
               <% for(var i=0; i < result.length; i++) { %>
                <tr>
                    <td style="padding-top: 30px;">
                        <%= i+1 %>
                    </td>
                    <td style="padding-top: 30px;">
                        <%= result[i].name %>
                    </td>
                    <td style="padding-top: 30px;">
                        <%= result[i].email %>
                    </td>
                    <td style="padding-top: 30px;">
                        <%= result[i].rank %>
                    </td>
                    <td>
                        
                        <form action="deleteprofile" method="POST" name="producttodelect">
                            <input tyle="text" name="name_user" value="<%= result[i].name %>" style="display:none">
                            <input type="submit" class="btn material-icons text-danger" value="delete">
                        </form>
                    </td>
                </tr>
                <% } %>

            </tbody>
        </table>
    </div>

    <script>

    </script>
</body>
</html>