<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./css/style'); %>
    <%- include('./css/style2'); %>
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('tap3')%>
    <div class="container-lgx2" style="padding-top: 40px;min-height:360px;padding-bottom: 50px;">

        <table class="table table-fit mt-6">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    
                </tr>
            </thead>
            <tbody>
              
               <% for(var i=0; i < result.length; i++) { %>
                <tr>
                    <td style="padding-top: 30px;">
                        <%= i+1 %>
                    </td>
                    <td style="padding-top: 30px;">
                        <%= result[i].user_id %>
                    </td>
                    <td style="padding-top: 30px;">
                        <%= result[i].name %>
                    </td>
                    <td style="padding-top: 30px;">
                        <%= result[i].email %>
                    </td>
                    <td style="padding-top: 30px;">
                        <%= result[i].rank %>
                    </td>
                    <td>
                        
                        <form action="deleteprofile" method="POST" name="producttodelect">
                            <input tyle="text" name="name_user" value="<%= result[i].name %>" style="display:none">
                            <input type="submit" class="btn material-icons text-danger" value="delete">
                        </form>
                    </td>
                </tr>
                <% } %>

            </tbody>
        </table>
    </div>

    <script>

    </script>
</body>
</html>